<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>testimonial</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
     <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/src/asset/css/style.css" />
    <link rel="stylesheet" href="/src/asset/css/testimonial.css"/>
  </head>
  <body style="background-color:  #004643;">
     <nav class="navbar navbar-expand-lg" style="background-color: #004643">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            class=""
            src="/src/asset/image/3bf826d15ceb64dfc9d3712f5a451838-removebg-preview.png"
            alt=""
            style="width: 35px"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active text-light fw-bold"
                style="color: #eaa81b"
                aria-current="page"
                href="/src/view/index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                style="color: #eaa81b"
                class="nav-link text-light fw-bold"
                href="/src/view/project.html"
                >Add Project</a
              >
            </li>

            <li class="nav-item">
              <a
                style="color: #eaa81b"
                class="nav-link text-light fw-bold"
                href="/src/view/testimonial.html"
                >My Testimonial</a
              >
            </li>
          </ul>
        </div>
        <a href="/src/view/contact.html" style="color: #004643"
          ><button
            type="button"
            class="btn"
            ;
            style="background-color: #eaa81b"
          >
            Contact Me
          </button></a
        >
      </div>
    </nav>

    <div class="con-testi">
      <h1>Testimonial Saya</h1>
           <div class="container-rating">
      <h2>Rating By Star</h2>
      <div class="rating">
        <button class="rating-btn" onclick="allTestimonials()">All</button>
        <button class="rating-btn" onclick="cardFiltered(1)">
          1 <i class="fa-solid fa-star"></i>
        </button>
        <button class="rating-btn" onclick="cardFiltered(2)">
          2 <i class="fa-solid fa-star"></i>
        </button>
        <button class="rating-btn" onclick="cardFiltered(3)">
          3 <i class="fa-solid fa-star"></i>
        </button>
        <button class="rating-btn" onclick="cardFiltered(4)">
          4 <i class="fa-solid fa-star"></i>
        </button>
        <button class="rating-btn" onclick="cardFiltered(5)">
          5 <i class="fa-solid fa-star"></i>
        </button>
      </div>
      </div>
      <section class="testi" id="testimonial">
      <!-- <div class="card-testi">
        <img src="/src/asset/image/dowload5.jpg" alt="">
        <div class="kata-kata">
            <p class="quots">Butuh sebuah keberanian untuk memulai sesuatu, dan butuh jiwa yang kuat untuk menyelesaikannya</p>
                <p class="riyan">-Riyan Maulana</p>
                <p class="bintang"></p>
        </div>
      </div> -->
      </section>
    </div>
    
  </body>
  <script src="/src/asset/js/ajax.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
</html>
  </body>
</html>
