<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>testimonial</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/src/asset/css/style.css" />
    <link rel="stylesheet" href="/src/asset/css/testimonial.css"/>
  </head>
  <body style="background-color:  #004643;">
     <nav>
      <div class="navigation">
        <div class="nav-left">
          <img
            src="/src/asset/image/3bf826d15ceb64dfc9d3712f5a451838-removebg-preview.png"
            alt=""
          />
          <a href="/view/index.html">Home</a>
          <a href="/view/project.html">My Project</a>
          <a href="/view/testimonial.html">My Testimonial</a>
        </div>
        <div class="nav-right">
          <a href="/view/contact.html">Contact Me</a>
          <div class="burger">
            <button onclick="openHamburger()">
             <i class="fa-solid fa-bars"></i>
            </button>
        </div>
      </div>
    </nav>
    <div class="items-hamburger" id="items-bars">
      <a href="/view/index.html">Home</a>

      <a href="/view/project.html">My Project</a>

      <a href="/view/testimonial.html">My Testimonial</a>

      <a href="/view/contact.html">Contact Me</a>
    </div>
    <hr />
    <div class="items-hamburger" id="items-bars">
      <a href="/index.html">Home</a>

      <a href="/project.html">My Project</a>
      <a href="/testimonial.html">My testimonial</a>

      <a href="/Contact.html">Contact Me</a>
    </div>

    <div class="con-testi">
      <h1>Testimonial Saya</h1>
           <div class="container-rating">
      <h2>Rating By Star</h2>
      <div class="rating">
        <button class="rating-btn" onclick="allTestimonials()">All</button>
        <button class="rating-btn" onclick="cardFiltered(1)">
          1 <i class="fa-solid fa-star"></i>
        </button>
        <button class="rating-btn" onclick="cardFiltered(2)">
          2 <i class="fa-solid fa-star"></i>
        </button>
        <button class="rating-btn" onclick="cardFiltered(3)">
          3 <i class="fa-solid fa-star"></i>
        </button>
        <button class="rating-btn" onclick="cardFiltered(4)">
          4 <i class="fa-solid fa-star"></i>
        </button>
        <button class="rating-btn" onclick="cardFiltered(5)">
          5 <i class="fa-solid fa-star"></i>
        </button>
      </div>
      </div>
      <section class="testi" id="testimonial">
      <!-- <div class="card-testi">
        <img src="/src/asset/image/dowload5.jpg" alt="">
        <div class="kata-kata">
            <p class="quots">Butuh sebuah keberanian untuk memulai sesuatu, dan butuh jiwa yang kuat untuk menyelesaikannya</p>
                <p class="riyan">-Riyan Maulana</p>
                <p class="bintang"></p>
        </div>
      </div> -->
      </section>
    </div>
    
  </body>
  <script src="/src/asset/js/ajax.js"></script>
  <script src="/src/asset/js/humburger.js"></script>
</html>
  </body>
</html>
